<!DOCTYPE html>
<html>
<head>
  <title>Zhongbei</title>
  <link rel="shortcut icon" href="<%= asset_path("logo1.png") %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <header class="header">
      <h1>中北大学</h1>
      <h3>探测制导与控制技术-09010541-付凌志</h3>
    </header>
    <%= yield %>
  </div>
</body>
</html>
